.poll-card {
  
  height: 18px;
  background: #F8F8FF;
  margin-bottom: 10px;
  padding: 20px;
}

.delete-btn {
  float: right;
  padding-bottom: 10px;
}

.restaurant-card {
  width:100%;
  background: #FFF;
  margin: 12px;
  padding: 20px;
  padding-bottom: 2px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  line-height: 20px;
}

.restaurant-card h5{
  color: #979797;
  background: #FFF;
  line-height: 20px;
}

.restaurant-card ttl{
  color: #000;
  font-family: Roboto;
  font-size:20px;
  font-weight: 500;
  

}


.restaurant-card des{
  color: #979797;
  font-family: Roboto;
  font-size:14px;
}

.restaurant-card type{
  border-radius: 4px;
  padding:6px;
  background-color: #3f51b5;
  color: #fff;
  margin-right: 6px;
  font-weight: 700;
  font-family: Roboto;
  font-size:14px;

}
.restaurant-card vegan{
  margin-right: 6px;
  color:#fff;
  font-family: Roboto;
  font-size:12px;
  padding:6px;
  border-radius: 4px;
  background-color: #B8E986;
  
}

.restaurant-card gltfree{
  margin-right: 6px;
  color:#fff;
  font-family: Roboto;
  font-size:12px;
  padding:6px;
  border-radius: 4px;
  background-color: #F8E71C;
}

.restaurant-card img{
  
  border-radius: 10px;
  width: 100px;

}

.Grid {
  position: fixed;
}

.list {
  margin-top: 80px;
}